workDir = 'gs://requester-pays-test-3-sftp-output/work'


params {
    config_profile_name        = 'Google Batch profile'
    config_profile_description = 'Google Batch Configuration'
    // Boilerplate options
    outdir            = './results'
}

process {
    executor = 'google-batch'
    container = 'quay.io/nextflow/bash'
}

google {
    project = 'requester-pays-test-3'
    location = 'europe-west6'
    region = 'europe-west1'
}